<!doctype html>
<html lang="en">
    <head>
        {% load static %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicons -->
        <link href="{% static 'main/images/favicon.png' %}" rel="icon">

        <!-- Frameworks CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/00b6dc780b.js" crossorigin="anonymous"></script>
        <!--
        <link href="{% static 'main/bundles/bootstrap-5.1.1-dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'main/bundles/fontawesome-free-5.15.4-web/css/all.css' %}" rel="stylesheet">
        -->

        <!-- Custom CSS -->
        <link href="{% static 'main/css/style.css' %}" rel="stylesheet">

        <!-- Page-Specific CSS -->
        {% block css %}

        {% endblock %}

        <title>Biz Reviews: {% block title %}{% endblock %}</title>
    </head>
    <body>
        <!-- Naviigation Section Start  -->
        <nav class="navbar navbar-expand-md fixed-top navbar-dark mb-5" style="background-color: #000032">
            <div class="container-fluid">
                <a class="navbar-brand ms-5 p-3" href="{% url 'index' %}">
                <img src="{% static 'main/images/bootstrap-logo.svg' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
                Biz-Views
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-start" id="navbarCollapse">
                    <form class="d-flex" method="get" action="{% url 'search' %}">
                        <input class="form-control" type="search" name="search" placeholder="Search Business or Category" aria-label="Search">
                    </form>
                </div>
                <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                    <ul class="navbar-nav me-5">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item dropdown me-5">
                            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            {% for category in categories %}
                                <li><a class="dropdown-item" href="{% url 'category-reviews' category.name|slugify category.id %}">{{category.name}}</a></li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle link-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if profile != None %}
                                <img src="{{profile.image.url}}" alt="" width="30" height="30" class="rounded-circle d-inline-block">
                            {% else %}
                                <img src="{% static 'main/images/profiles/avatar-2.jpg' %}" alt="" width="30" height="30" class="rounded-circle d-inline-block">
                            {% endif %}
                            <span class="ms-2 text-light">{{user.first_name}}</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'my-reviews' %}">My Reviews</a></li>
                                <li><a class="dropdown-item" href="{% url 'update-user' %}">My Settings</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Log-Out</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="btn btn-outline-success" href="{% url 'login' %}" >Login/Sign-Up</a>
                        </li>
                    {% endif %}
                    </ul>
                </div>
                 
            </div>
        </nav>
        <!-- /Naviigation Section Ends  -->

        <!-- Content Section Starts  -->
        {% block content %}

        {% endblock %}
        <!-- /Content Section Ends  -->

        <!-- /Footer Section Start -->
        <div class="container-fluid" style="background-color: #000032">
            <footer class="py-5">
                <div class="row">
                    <div class="col-lg-2 col-md-4 col-sm-6 ms-4">
                        <h5 class="footer-head">About</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="{% url 'index' %}" class="nav-link p-0 text-muted">Home</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{% url 'about-us' %}" class="nav-link p-0 text-muted">About</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{% url 'my-reviews' %}" class="nav-link p-0 text-muted">My Reviews</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="nav-item mb-2">
                                <a href="{% url 'logout' %}" class="nav-link p-0 text-muted">Logout</a>
                            </li>
                            {% else %}
                            <li class="nav-item mb-2">
                                <a href="{% url 'login' %}" class="nav-link p-0 text-muted">Login/Sign-up</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 ms-4">
                        <h5 class="footer-head">Categories</h5>
                        <ul class="nav flex-column">
                        {% for category in categories %}
                            <li class="nav-item mb-2">
                                <a href="{% url 'category-reviews' category.name|slugify category.id %}" class="nav-link p-0 text-muted">{{category.name}}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <form method="get" action="{% url 'search' %}">
                            <h5 class="footer-head">Search for company or category</h5>
                            <p class="footer-p">Read reviews. Write reviews. Find companies.</p>
                            <div class="input-group">
                                <input type="search" class="form-control" name="search" placeholder="Business or Category">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="d-flex justify-content-between py-4 my-4 border-top">
                    <p class="footer-p">&copy; 2021 Company, Inc. All rights reserved.</p>
                    <ul class="list-unstyled d-flex">
                        <li class="ms-3"><a class="text-muted" href="#">
                            <i class="fab fa-twitter" width="24" height="24"></i>
                        </a></li>
                        <li class="ms-3"><a class="text-muted" href="#">
                            <i class="fab fa-facebook"></i>
                        </a></li>
                        <li class="ms-3"><a class="text-muted" href="#">
                            <i class="fab fa-instagram"></i>
                        </a></li>
                    </ul>
                </div>
          </footer>
        </div>
        <!-- /Footer Section Ends -->

        <!-- Modal Section Starts -->
        {% block modal %}
        
        {% endblock %}
        <!-- /Modal Section Ends -->



        <!-- Frameworks JS -->
        <!-- 
        <script src="{% static 'main/bundles/bootstrap-5.1.1-dist/js/bootstrap.min.js' %}"></script>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script> 
        -->
        <script src="{% static 'main/js/jquery-3.6.0.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


        <!-- Page-Specific JS -->
        {% block javascript %}

        {% endblock %}
        <script type="text/javascript">
            var myCarousel = document.querySelector('#carouselReviews');
            var carousel = new bootstrap.Carousel(myCarousel, {
              interval: 10,
            });

        </script>
    </body>
</html>
