{% extends "reviews/base.html" %}

{% load static %}

{% block title %} Business Reviews {% endblock %}
{% block css %}
	<link href="{% static 'main/css/page/business-reviews.css' %}" rel="stylesheet">
{% endblock %}
        
{% block content %}
<main class="main-index">
	<!-- Breadcrumb and Title Section -->
	<div class="b-example-divider"> </div>
	<div class="container-fluid card pt-5">
		<div class="card-body">
			<div class="container">
				<nav aria-label="breadcrumb">
				  	<ol class="breadcrumb">
				    	<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
				    	<li class="breadcrumb-item"><a href="{% url 'category-reviews' business.category.name|slugify business.category.id %}">{{business.category.name}}</a></li>
				    	<li class="breadcrumb-item active" aria-current="page">{{business.name}}</li>
				  	</ol>
				</nav>
				<div class="row">
					<div class="col-lg-8 col-sm-12">
						<div class="row">
							<div class="col-lg-3 col-sm-12">
								<img src="{{MEDIA_URL}}{{business.image.url}}" class="img-thumbnail" alt="{{business.name}} Business Image">
							</div>
							<div class="col-lg-9 col-sm-12">
								<h1>{{business.name}}</h1>
								<p class="text-muted">Reviews {{business.reviews_count}} | <span>{{business.rating_remarks}}</span></p>
								<div class="d-flex">
								{% if business.rating > 4.5 %}
                                        <i class="fas fa-star fa-3x text-success"></i>
			                            <i class="fas fa-star fa-3x text-success"></i>
			                            <i class="fas fa-star fa-3x text-success"></i>
			                            <i class="fas fa-star fa-3x text-success"></i>
			                            <i class="fas fa-star fa-3x text-success"></i>
                                    {% elif business.rating > 3.5 %}
                                    	<i class="fas fa-star fa-3x text-success text-opacity-75"></i>
                                        <i class="fas fa-star fa-3x text-success text-opacity-75"></i>
                                        <i class="fas fa-star fa-3x text-success text-opacity-75"></i>
                                        <i class="fas fa-star fa-3x text-success text-opacity-75"></i>
                                        <i class="far fa-star fa-3x text-muted"></i>
                                    {% elif business.rating > 2.5 %}
                                    	<i class="fas fa-star fa-3x text-success text-opacity-75"></i>
                                        <i class="fas fa-star fa-3x text-success text-opacity-75"></i>
                                        <i class="fas fa-star fa-3x text-success text-opacity-75"></i>
                                        <i class="far fa-star fa-3x text-muted"></i>
                                        <i class="far fa-star fa-3x text-muted"></i>
                                    {% elif business.rating > 1.5 %}
                                    	<i class="fas fa-star fa-3x text-danger text-opacity-75"></i>
                                        <i class="fas fa-star fa-3x text-danger text-opacity-75"></i>
                                        <i class="far fa-star fa-3x text-muted"></i>
                                        <i class="far fa-star fa-3x text-muted"></i>
                                        <i class="far fa-star fa-3x text-muted"></i>
                                    {% elif business.rating > 0.0 %}
                                    	<i class="fas fa-star fa-3x text-danger"></i>
                                        <i class="far fa-star fa-3x text-muted"></i>
                                        <i class="far fa-star fa-3x text-muted"></i>
                                        <i class="far fa-star fa-3x text-muted"></i>
                                        <i class="far fa-star fa-3x text-muted"></i>
                                    {% else %}
                                    	<i class="fas fa-star fa-3x text-success"></i>
			                            <i class="fas fa-star fa-3x text-success"></i>
			                            <i class="fas fa-star fa-3x text-success"></i>
			                            <i class="fas fa-star fa-3x text-success"></i>
			                            <i class="fas fa-star fa-3x text-success"></i>
                                    {% endif %}
		                            <p class="ms-2 text-muted"> {{business.rating}}</p>
		                        </div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-12 pt-4">
						<ul class="list-group">
							<li class="list-group-item d-flex justify-content-between">
							    <div class="ms-2 me-auto">
							      <div class="fw-bold">{{business.website_name}}<i class="fas fa-globe text-muted"></i></div>
							      <a class="text-decoration-none" href="{{business.website}}" target="_blank" rel="noopener noreferrer"> vist this website</a>
							    </div>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!-- /Breadcrumb and Title Section End -->

	<!-- Content Section Start -->
	<div class="b-example-divider"> </div>
	<div class="container">
		<div class="row">
			<!-- Reviews Section Start -->
			<div class="col-lg-8 col-sm-12">
				<div class="row card">
					<div class="card-body row ps-4 pt-2">
						<div class="col-lg-7 col-md-5 col-sm-12 d-flex align-items-center pt-2">

							<i class="fas fa-user-circle fa-3x text-muted"></i>
							<a href="{% url 'review-business' business.name|slugify business.id %}" class="ms-3">Write a review</a>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12 d-flex pt-2">
	                        <i id="rate-star_1" class="far fa-star fa-3x text-muted rate-star"></i>
	                        <i id="rate-star_2" class="far fa-star fa-3x text-muted rate-star"></i>
	                        <i id="rate-star_3" class="far fa-star fa-3x text-muted rate-star"></i>
	                        <i id="rate-star_4" class="far fa-star fa-3x text-muted rate-star"></i>
	                        <i id="rate-star_5" class="far fa-star fa-3x text-muted rate-star"></i>
	                    </div>
						
					</div>
				</div>

				<div class="row card mt-3">
					<div class="card-body">

						<div class="row d-flex justify-content-between">
							<h5 class="col ms-2">Reviews <span class="reviews-count text-muted">{{business.reviews_count}}</span></h5>
							<div class="col d-flex align-items-center">
								<label>Filter by: </label>
								<a href="#" class="btn btn-outline-dark ms-2">Rating <i class="fas fa-plus-circle"></i></a>
								<a href="#" class="btn btn-outline-dark">English <i class="fas fa-chevron-circle-right"></i></a>
							</div>
						</div>

						<div class="row ms-2 pt-3">
							<div class="row align-items-center">
								<div class="form-check col-lg-2 col-sm-12">
								  	<input class="form-check-input" type="checkbox" name="remarks-checkbox" id="remarksCheckboxExcellent" value="Excellent">
								  	<label class="form-check-label" for="inlineCheckbox1">Excellent</label>
								</div>
								<div class="progress col-lg-8 col-sm-9" style="height: 10px;">
								  <div class="progress-bar" role="progressbar" style="width: {{business.excellent_percentage}}%;" aria-valuenow="{{business.excellent_percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
								<div class="col-lg-2 col-sm-3">{{business.excellent_percentage}}%</div>
							</div>
							<div class="row align-items-center pt-2">
								<div class="form-check col-lg-2 col-sm-12">
								  	<input class="form-check-input" type="checkbox" name="remarks-checkbox" id="remarksCheckboxGreat" value="Great">
								  	<label class="form-check-label" for="inlineCheckbox2">Great</label>
								</div>
								<div class="progress col-lg-8 col-sm-9" style="height: 10px;">
									<div class="progress-bar" role="progressbar" style="width: {{business.great_percentage}}%;" aria-valuenow="{{business.great_percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
								<div class="col-lg-2 col-sm-3">
									{{business.great_percentage}}%
								</div>
							</div>
							<div class="row align-items-center pt-2">
								<div class="form-check col-lg-2 col-sm-12">
								  	<input class="form-check-input" type="checkbox" name="remarks-checkbox" id="remarksCheckboxAverage" value="Average">
								  	<label class="form-check-label" for="inlineCheckbox3"> Average</label>
								</div>
								<div class="progress col-lg-8 col-sm-9" style="height: 10px;">
									<div class="progress-bar" role="progressbar" style="width: {{business.average_percentage}}%;" aria-valuenow="{{business.average_percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
								<div class="col-lg-2 col-sm-3">
									{{business.average_percentage}}%
								</div>
							</div>
							<div class="row align-items-center pt-2">
								<div class="form-check col-lg-2 col-sm-12">
								  	<input class="form-check-input" type="checkbox" name="remarks-checkbox" id="remarksCheckboxPoor" value="Poor">
								  	<label class="form-check-label" for="inlineCheckbox4"> Poor</label>
								</div>
								<div class="progress col-lg-8 col-sm-9" style="height: 10px;">
									<div class="progress-bar" role="progressbar" style="width: {{business.poor_percentage}}%;" aria-valuenow="{{business.poor_percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
								<div class="col-lg-2 col-sm-3">
									{{business.poor_percentage}}%
								</div>
							</div>
							<div class="row align-items-center pt-2">

								<div class="form-check col-lg-2 col-sm-12">
								  	<input class="form-check-input" type="checkbox" name="remarks-checkbox" id="remarksCheckboxBad" value="Bad">
								  	<label class="form-check-label" for="inlineCheckbox4"> Bad</label>
								</div>
								<div class="progress col-lg-8 col-sm-9" style="height: 10px;">
									<div class="progress-bar" role="progressbar" style="width: {{business.bad_percentage}}%;" aria-valuenow="{{business.bad_percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
								<div class="col-lg-2 col-sm-3">
									{{business.bad_percentage}}%
								</div>
							</div>
						</div>

					</div>
				</div>
				{% if my_reviews != None and my_reviews.count > 0 %}
				<div class="row pt-3"><hr></div>
				<div class="row">
					<h4>Your Reviews for {{business.name}}.</h4>
				</div>
				{% for review in my_reviews %}
				<div class="row mt-3 card text-white bg-secondary">
					<div class="card-body p-4">
						<div class="row">
							<div class="d-flex">
                                <img src="{{MEDIA_URL}}{{review.user_profile.image.url}}" class="rounded-circle float-start" width="50px" height="50px" alt="e">
                                <div class="px-3">
                                	<div>{{review.user.first_name}}</div>
                                	<div class="d-flex">
                                		<small>
                                			<i class="fas fa-pen"></i> 
                                			<span class="">{{review.user_reviews_count}} reviews </span>
                                			<i class="fas fa-map-marker-alt ps-2"></i> 
                                			<span class=""> Nairobi, Ke</span>
                                		</small>
                                	</div>
                                </div>
                            </div>
						</div>
						<div class="row pt-2 mx-1">
							<hr>
						</div>
						<div class="row">
							<div class="row justify-content-between">
							{% if review.rating == 5 %}
								<div class="col d-flex">
                                    <i class="fas fa-star fa-lg"></i>
                                    <i class="fas fa-star fa-lg"></i>
                                    <i class="fas fa-star fa-lg"></i>
                                    <i class="fas fa-star fa-lg"></i>
                                    <i class="fas fa-star fa-lg"></i>
                                </div>
                            {% elif review.rating == 4 %}
                            	<div class="col d-flex">
                                    <i class="fas fa-star fa-lg"></i>
                                    <i class="fas fa-star fa-lg"></i>
                                    <i class="fas fa-star fa-lg"></i>
                                    <i class="fas fa-star fa-lg"></i>
                                    <i class="far fa-star fa-lg"></i>
                                </div>
                            {% elif review.rating == 3 %}
                            	<div class="col d-flex">
                                    <i class="fas fa-star fa-lg"></i>
                                    <i class="fas fa-star fa-lg"></i>
                                    <i class="fas fa-star fa-lg"></i>
                                    <i class="far fa-star fa-lg"></i>
                                    <i class="far fa-star fa-lg"></i>
                                </div>
                            {% elif review.rating == 2 %}
                            	<div class="col d-flex">
                                    <i class="fas fa-star fa-lg"></i>
                                    <i class="fas fa-star fa-lg"></i>
                                    <i class="far fa-star fa-lg"></i>
                                    <i class="far fa-star fa-lg"></i>
                                    <i class="far fa-star fa-lg"></i>
                                </div>
                            {% elif review.rating == 1 %}
                            	<div class="col d-flex">
                                    <i class="fas fa-star fa-lg"></i>
                                    <i class="far fa-star fa-lg"></i>
                                    <i class="far fa-star fa-lg"></i>
                                    <i class="far fa-star fa-lg"></i>
                                    <i class="far fa-star fa-lg"></i>
                                </div>
                            {% else %}
                            	<div class="col d-flex">
                                    <i class="far fa-star fa-lg"></i>
                                    <i class="far fa-star fa-lg"></i>
                                    <i class="far fa-star fa-lg"></i>
                                    <i class="far fa-star fa-lg"></i>
                                    <i class="far fa-star fa-lg"></i>
                                </div>
                            {% endif %}
                                <div class="col text-end">{{review.date_created|timesince}} Ago</div>
							</div>
						</div>
						<div class="row pt-2">
							<h5 class="card-title">{{review.title}}</h5>
							<p class="card-text">{{review.review}}</p>
						</div>
						<div class="row pt-2 mx-1">
							<hr>
						</div>
						<div class="row justify-content-between pt-0">
							<div class="col">
								<small>
									<a class="card-link text-decoration-none text-reset" href="{% url 'edit-review' review.title|slugify review.id %}"> <i class="far fa-edit"></i> Edit</a>
									<a class="card-link text-decoration-none text-reset" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="far fa-trash-alt ms-2"></i> Delete</a>
									<i class="fas fa-share-alt ms-2"></i> Share
								</small>
							</div>
						</div>
						<a class="stretched-link" href="{% url 'my-review' review.title|slugify review.id %}"></a>
					</div>
				</div>
				{% endfor %}
				<div class="row pt-3"><hr></div>
				<div class="row">
					<h4>Other Reviews for {{business.name}}.</h4>
				</div>

				{% endif %}

				{% for review in business.my_reviews reversed %}
				{% if review.user.id != user.id %}
				<div class="row mt-3 card reviews-all review-{{review.remarks}}">
					<div class="card-body p-4">
						<div class="row">
							<div class="d-flex">
                                <img src="{{review.user_profile.image.url}}" class="rounded-circle float-start" width="50px" height="50px" alt="e">
                                <div class="px-3">
                                	<div>{{review.user.first_name}}</div>
                                	<div class="d-flex">
                                		<small>
                                			<i class="fas fa-pen"></i> 
                                			<span class="text-muted">{{review.user_reviews_count}} reviews </span>
                                			<i class="fas fa-map-marker-alt ps-2"></i> 
                                			<span class="text-muted"> Nairobi, Ke</span>
                                		</small>
                                	</div>
                                </div>
                            </div>
						</div>
						<div class="row pt-2 mx-1">
							<hr>
						</div>
						<div class="row">
							<div class="row justify-content-between">
							{% if review.rating == 5 %}
								<div class="col d-flex">
                                    <i class="fas fa-star fa-lg text-success"></i>
                                    <i class="fas fa-star fa-lg text-success"></i>
                                    <i class="fas fa-star fa-lg text-success"></i>
                                    <i class="fas fa-star fa-lg text-success"></i>
                                    <i class="fas fa-star fa-lg text-success"></i>
                                </div>
                            {% elif review.rating == 4 %}
                            	<div class="col d-flex">
                                    <i class="fas fa-star fa-lg text-success text-opacity-75"></i>
                                    <i class="fas fa-star fa-lg text-success text-opacity-75"></i>
                                    <i class="fas fa-star fa-lg text-success text-opacity-75"></i>
                                    <i class="fas fa-star fa-lg text-success text-opacity-75"></i>
                                    <i class="far fa-star fa-lg text-muted"></i>
                                </div>
                            {% elif review.rating == 3 %}
                            	<div class="col d-flex">
                                    <i class="fas fa-star fa-lg text-success text-opacity-75"></i>
                                    <i class="fas fa-star fa-lg text-success text-opacity-75"></i>
                                    <i class="fas fa-star fa-lg text-success text-opacity-75"></i>
                                    <i class="far fa-star fa-lg text-muted"></i>
                                    <i class="far fa-star fa-lg text-muted"></i>
                                </div>
                            {% elif review.rating == 2 %}
                            	<div class="col d-flex">
                                    <i class="fas fa-star fa-lg text-danger text-opacity-75"></i>
                                    <i class="fas fa-star fa-lg text-danger text-opacity-75"></i>
                                    <i class="far fa-star fa-lg text-muted"></i>
                                    <i class="far fa-star fa-lg text-muted"></i>
                                    <i class="far fa-star fa-lg text-muted"></i>
                                </div>
                            {% elif review.rating == 1 %}
                            	<div class="col d-flex">
                                    <i class="fas fa-star fa-lg text-danger"></i>
                                    <i class="far fa-star fa-lg text-muted"></i>
                                    <i class="far fa-star fa-lg text-muted"></i>
                                    <i class="far fa-star fa-lg text-muted"></i>
                                    <i class="far fa-star fa-lg text-muted"></i>
                                </div>
                            {% else %}
                            	<div class="col d-flex">
                                    <i class="far fa-star fa-lg text-muted"></i>
                                    <i class="far fa-star fa-lg text-muted"></i>
                                    <i class="far fa-star fa-lg text-muted"></i>
                                    <i class="far fa-star fa-lg text-muted"></i>
                                    <i class="far fa-star fa-lg text-muted"></i>
                                </div>
                            {% endif %}
                                <div class="col text-end text-muted">{{review.date_created|timesince}} Ago</div>
							</div>
						</div>
						<div class="row pt-2">
							<h5 class="card-title">{{review.title}}</h5>
							<p class="card-text">{{review.review}}</p>
						</div>
						<div class="row pt-2 mx-1">
							<hr>
						</div>
						<div class="row justify-content-between text-muted pt-0">
							<div class="col">
								<small>
									<i class="far fa-thumbs-up"></i> Helpful
									<i class="fas fa-share-alt ms-2"></i> Share
								</small>
							</div>
							<div class="col text-end">
								<small>
									<i class="far fa-flag"></i> Report
								</small>
							</div>
							
						</div>
						<a class="stretched-link" href="{% url 'my-review' review.title|slugify review.id %}"></a>
					</div>
				</div>
				{% endif %}
				{% empty %}
					<div class="row mt-3 text-center">
						<p>{{business.name}} has not been Reviewed yet. </p>
					</div>
				{% endfor %}
				<div class="b-example-divider"> </div>
			</div>
			<!-- /Reviews Section End -->

			<!-- Business-Info Section Start -->
			<div class="col-lg-4 col-sm-12">
				<div class="card">
					<div class="card-body">
						<div class="row pt-2">
							<div class="col-12">
								<h5>All About {{business.name}}</h5>
							</div>
							<div class="col-12 text-muted pt-0">
								<small class="pt-0">
									Information provided by various external sources
								</small>
							</div>
							<div class="col-12 pt-2">
								<p>{{business.description}}</p>
							</div>
						</div>
						<hr>
						<div class="row pt-4">
							<div class="col-12">
								<h5>Contacts</h5>
							</div>
							<div class="col-12 text-muted">
								<p>
									<i class="fas fa-at"></i> 
									<a href="mailto:{{business.email}}" class="ms-3" target="_blank" rel="noopener noreferrer">{{business.email}}</a>
								</p>
								<p>
									<i class="fas fa-phone-alt"></i> 
									<a href="tel:{{business.phone_number}}" class="ms-3">{{business.phone_number}}</a>
								</p>
								<p>
									<i class="fas fa-map-marker-alt"></i> 
									<a href="#" class="ms-3">{{business.county}}, {{business.country}}</a>
								</p>
							</div>
						</div>
						<hr>

						<div class="row pt-4">
							<div class="col-12">
								<h5>Category</h5>
							</div>
							<div class="col-12">
								<p>
									<strong>{{business.name}}</strong> is 
									{% if business.category_rank == None %}
									<strong>Not ranked</strong> Among
									{% else %}
									<strong>{{business.category_rank}} out of {{business.category.my_businesses.count}} ranked</strong> 
									{% endif %}
									companies in the 
									<a href="#">category {{business.category.name}}</a> on Bizview
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- /Business-Info Section End -->

		</div>
		</div>
		<div class="b-example-divider"> </div>
	</div>
	<!-- /Content Section Start -->

</main>
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		//Hover rate-star_1
		$("#rate-star_1").hover(function(){
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();
			$("#rate-star_1").addClass("fas fa-star fa-3x text-danger");	
			$("#rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").addClass("far fa-star fa-3x text-muted rate-star");  	
		}, function(){
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();	
		  	$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").addClass("far fa-star fa-3x text-muted rate-star");
		});
		// Click rate-star_1
		$("#rate-star_1").click(function(event){
			event.preventDefault();
			$(this).off('mouseenter mouseleave');
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();
			$("#rate-star_1").addClass("fas fa-star fa-3x text-danger");
			$("#rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").addClass("far fa-star fa-3x text-muted rate-star");	
		  	window.location.href = "../../../write/review/{{business.name|slugify}}/{{business.id}}/?rate=1";
		});

		// Hover rate-star_2
		$("#rate-star_2").hover(function(){
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();
			$("#rate-star_1, #rate-star_2").addClass("fas fa-star fa-3x text-danger text-opacity-75");
			$("#rate-star_3, #rate-star_4, #rate-star_5").addClass("far fa-star fa-3x text-muted rate-star");	  	
		}, function(){
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();
		  	$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").addClass("far fa-star fa-3x text-muted rate-star");
		});
		// Click rate-star_2
		$("#rate-star_2").click(function(event){
			event.preventDefault();
			$(this).off('mouseenter mouseleave');
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();
			$("#rate-star_1, #rate-star_2").addClass("fas fa-star fa-3x text-danger text-opacity-75");
			$("#rate-star_3, #rate-star_4, #rate-star_5").addClass("far fa-star fa-3x text-muted rate-star");	
		  	window.location.href = "../../../write/review/{{business.name|slugify}}/{{business.id}}/?rate=2";
		});

		// Hover rate-star_3
		$("#rate-star_3").hover(function(){
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();
			$("#rate-star_1, #rate-star_2, #rate-star_3").addClass("fas fa-star fa-3x text-success text-opacity-50");	
			$("#rate-star_4, #rate-star_5").addClass("far fa-star fa-3x text-muted rate-star");  	
		}, function(){
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();
		  	$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").addClass("far fa-star fa-3x text-muted rate-star");
		});
		// Click rate-star_3
		$("#rate-star_3").click(function(event){
			event.preventDefault();
			$(this).off('mouseenter mouseleave');
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();
			$("#rate-star_1, #rate-star_2, #rate-star_3").addClass("fas fa-star fa-3x text-success text-opacity-50");	
			$("#rate-star_4, #rate-star_5").addClass("far fa-star fa-3x text-muted rate-star"); 
		  	window.location.href = "../../../write/review/{{business.name|slugify}}/{{business.id}}/?rate=3";	
		});

		// Hover rate-star_4
		$("#rate-star_4").hover(function(){
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4").addClass("fas fa-star fa-3x text-success text-opacity-75");	
			$("#rate-star_5").addClass("far fa-star fa-3x text-muted rate-star");  	
		}, function(){
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();
		  	$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").addClass("far fa-star fa-3x text-muted rate-star");
		});
		// Click rate-star_4
		$("#rate-star_4").click(function(event){
			event.preventDefault();
			$(this).off('mouseenter mouseleave');
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4").addClass("fas fa-star fa-3x text-success text-opacity-75");	
			$("#rate-star_5").addClass("far fa-star fa-3x text-muted rate-star"); 
		  	window.location.href = "../../../write/review/{{business.name|slugify}}/{{business.id}}/?rate=4";
		});

		// Hover rate-star_5
		$("#rate-star_5").hover(function(){
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").addClass("fas fa-star fa-3x text-success");  	
		}, function(){
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass("fas fa-star fa-3x text-success");
		  	$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").addClass("far fa-star fa-3x text-muted rate-star");
		});
		// Click rate-star_5
		$("#rate-star_5").click(function(event){
			event.preventDefault();
			$(this).off('mouseenter mouseleave');
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").addClass("fas fa-star fa-3x text-success");
		  	window.location.href = "../../../write/review/{{business.name|slugify}}/{{business.id}}/?rate=5";
		});

		// Filter Reviews by Remarks
		$("input[name=remarks-checkbox]").change(function(){
			$(".reviews-all").hide();
			var num = 0;
			$("input:checkbox[name=remarks-checkbox]:checked").each(function(){
				var data = $(this).val();
				var $items = $(".review-"+data);
				if ($items.length){
					$(".review-"+data).show();
					num = num + parseInt($(".review-"+data).length);
				}
			});
			$(".reviews-count").html(num);
		});

		// Load Default Filter on Load
		$(function() {
			$(".reviews-all").show();
			$("input:checkbox[name=remarks-checkbox]").each(function(){
				$(this).prop('checked', true);
			});
		})

		function reviewBusiness(rate){
			alert(rate);
		}
		
	</script>
{% endblock %}

