{% extends "reviews/base.html" %}

{% load static %}

{% block title %} Bank Reviews {% endblock %}
        
{% block content %}
<main class="main-index">
	<!-- Breadcrumb and Title Section -->
	<div class="b-example-divider"> </div>
	<div class="container-fluid card pt-5">
		<div class="card-body">
			<div class="container">
				<nav aria-label="breadcrumb">
				  	<ol class="breadcrumb">
				    	<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
				    	<li class="breadcrumb-item active" aria-current="page">Categories</li>
				  	</ol>
				</nav>
				<div class="row">
					<h1>Best in {{category.name}}</h1>
					<p class="text-muted">Top-rated businesses in {{category.name}} Category <i class="fas fa-info-circle"></i></p>
				</div>
			</div>
		</div>
	</div>
	<!-- /Breadcrumb and Title Section End -->

	<!-- Content Section Start -->
	<div class="b-example-divider"> </div>
	<div class="container">
		<div class="row">

			<!-- Side-Bar Section Start -->
			<div class="col-4">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-12">
								<h3>Categories</h3>
							</div>
							<div class="col-12">
								<ul class="list-group">
								{% for cat in categories %}
									<li class="list-group-item">
										<a href="{% url 'category-reviews' cat.name|slugify cat.id %}" class="text-decoration-none text-reset">{{cat.name}}</a>
									</li>
								{% endfor %}
								</ul>
							</div>
						</div>
						<div class="b-example-divider"> </div>

						<div class="row">
							<div class="col-8">
								<h5>Filters</h5>
							</div>
							<div class="col-4">
								<p class="text-muted">
									<a id="reset-filters" href="#">Reset filters</a>
								</p>
							</div>
							<div class="col-12 pb-5">
								<div class="mb3 pb-3">
									<label  for="region-input" class="form-label"> County or Town</label>
									<input id="region-input" class="form-control" type="text" name="region">
								</div>
								<a id="filter-region-button" class="btn btn-outline-dark" href="#"> Apply</a>
							</div>
							<div class="col-12 pb-5">
								<div class="mb3">
									<label  for="region-input" class="form-label">No. of Business</label>
									<div class="form-check pb-2">
									  	<input class="form-check-input review-number" type="radio" name="reviewNumberRadio" id="reviewNumberRadio1" value="0">
									  	<label class="form-check-label text-muted" for="reviewNumberRadio1">
									    	All
									  	</label>
									</div>
									<div class="form-check pb-2">
									  	<input class="form-check-input review-number" type="radio" name="reviewNumberRadio" id="reviewNumberRadio2" value="16" checked>
									  	<label class="form-check-label text-muted" for="reviewNumberRadio2">
									    	15+
									  	</label>
									</div>
									<div class="form-check pb-2">
									  	<input class="form-check-input review-number" type="radio" name="reviewNumberRadio" id="reviewNumberRadio1" value="27">
									  	<label class="form-check-label text-muted" for="reviewNumberRadio1">
									    	25+
									  	</label>
									</div>
									<div class="form-check pb-2">
									  	<input class="form-check-input review-number" type="radio" name="reviewNumberRadio" id="reviewNumberRadio1" value="57">
									  	<label class="form-check-label text-muted" for="reviewNumberRadio1">
									    	50+
									  	</label>
									</div>
									<div class="form-check pb-2">
									  	<input class="form-check-input review-number" type="radio" name="reviewNumberRadio" id="reviewNumberRadio1" value="108">
									  	<label class="form-check-label text-muted" for="reviewNumberRadio1">
									    	100+
									  	</label>
									</div>
									<div class="form-check">
									  	<input class="form-check-input review-number" type="radio" name="reviewNumberRadio" id="reviewNumberRadio1" value="251">
									  	<label class="form-check-label text-muted" for="reviewNumberRadio1">
									    	250+
									  	</label>
									</div>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
			<!-- /Side-Bar Section Ends -->

			<!-- Reviews Section Start -->
			<div class="col-8">
				<div class="row">
					<h5>Top-rated companies</h5>
					<p class="text-muted">Showing 1-<span id="biz-count-1" class="biz-count">{{category.my_businesses.count}}</span> of <span id="biz-count-2" class="biz-count">{{category.my_businesses.count}}</span> results based on current filters. Ordered by Biz. <span class="biz-info"> </span></p>						
				</div>
				{% for business in category.my_businesses_ordered %}
				<div id="biz-{{forloop.counter}}" class="row mb-3 card biz-card">
					<div class="card-body">
						
						<div class="row">
							<div class="col-3">
								<img src="{{business.image.url}}" class="img-thumbnail" alt="business image">
							</div>
							<div class="col-9">
								<div class="row">
									<h5>{{business.name}}</h5>
								</div>
								<div class="row d-flex">
									<div class="d-flex">
									{% if business.rating > 4.5 %}
                                        <i class="fas fa-star fa-lg text-success"></i>
                                        <i class="fas fa-star fa-lg text-success"></i>
                                        <i class="fas fa-star fa-lg text-success"></i>
                                        <i class="fas fa-star fa-lg text-success"></i>
                                        <i class="fas fa-star fa-lg text-success"></i>
                                    {% elif business.rating > 3.5 %}
                                    	<i class="fas fa-star fa-lg text-success text-opacity-75"></i>
                                        <i class="fas fa-star fa-lg text-success text-opacity-75"></i>
                                        <i class="fas fa-star fa-lg text-success text-opacity-75"></i>
                                        <i class="fas fa-star fa-lg text-success text-opacity-75"></i>
                                        <i class="far fa-star fa-lg text-muted"></i>
                                    {% elif business.rating > 2.5 %}
                                    	<i class="fas fa-star fa-lg text-success text-opacity-75"></i>
                                        <i class="fas fa-star fa-lg text-success text-opacity-75"></i>
                                        <i class="fas fa-star fa-lg text-success text-opacity-75"></i>
                                        <i class="far fa-star fa-lg text-muted"></i>
                                        <i class="far fa-star fa-lg text-muted"></i>
                                    {% elif business.rating > 1.5 %}
                                    	<i class="fas fa-star fa-lg text-danger text-opacity-75"></i>
                                        <i class="fas fa-star fa-lg text-danger text-opacity-75"></i>
                                        <i class="far fa-star fa-lg text-muted"></i>
                                        <i class="far fa-star fa-lg text-muted"></i>
                                        <i class="far fa-star fa-lg text-muted"></i>
                                    {% elif business.rating > 0.0 %}
                                    	<i class="fas fa-star fa-lg text-danger"></i>
                                        <i class="far fa-star fa-lg text-muted"></i>
                                        <i class="far fa-star fa-lg text-muted"></i>
                                        <i class="far fa-star fa-lg text-muted"></i>
                                        <i class="far fa-star fa-lg text-muted"></i>
                                    {% else %}
                                    	<i class="fas fa-star fa-lg text-success"></i>
                                        <i class="fas fa-star fa-lg text-success"></i>
                                        <i class="fas fa-star fa-lg text-success"></i>
                                        <i class="fas fa-star fa-lg text-success"></i>
                                        <i class="fas fa-star fa-lg text-success"></i>
                                    {% endif %}
                                        <p class="ms-2"> {{business.reviews_count}} reviews</p> 
                                        <p class="ms-2"> Average Rate {{business.rating}}</p>
                                    </div>
								</div>
								<div class="row">
									<p>{{category.name}}</p>
								</div>
								<div class="row">
									<p id="region-{{forloop.counter}}" class="text-muted"><i class="fas fa-map-marker-alt"></i> {{business.town}} - {{business.county}}, {{business.country}}</p>
								</div>
							</div>
						</div>
						<a class="stretched-link" href="{% url 'business-reviews' business.name|slugify business.id %}"></a>
					</div>
				</div>
					{% if forloop.last %}
					<input id="total-cards-id" type="hidden" value="{{forloop.counter}}">
					{% endif %}
				{% endfor %}

			</div>
			<!-- Reviews Section Start -->

		</div>
	</div>
	<!-- /Content Section Ends -->
	<div class="b-example-divider"> </div>
</main>
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		// Change the review number
		$("input[name=reviewNumberRadio]").change(function(){
			var number = parseInt($(this).val());
			$('#biz-count-1').html(number);
			if (number > 0){
				$(".biz-card").hide();
				for (var i = number; i >= 0; i--) {
					var card_id = "#biz-" + String(i);
					$(card_id).show();
				}
			} else {
				$(".biz-card").show();
			}
		});

		// Filter Country or Region
		$("#filter-region-button").click(function(event){
			event.preventDefault();
			// Add Spinner to Button
	   		var spinner = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>' +
	  			'Searching...';
			$("#filter-region-button").html(spinner);
			var region = $("#region-input").val().trim();
			if (region != "") {
				var biz_num = parseInt($("#total-cards-id").val());
				$(".biz-card").hide();
				var count = 0;
				for (var i = biz_num; i >= 0; i--) {
					var region_id = "#region-" + String(i);
					var region_texts = $(region_id).text().split(" ");
					region_texts.forEach(function(region_text) {
						if (region_text.toUpperCase().includes(region.toUpperCase())){
							var card_id = "#biz-" + String(i);
							$(card_id).show();
							count = count + 1;
						}
					});
				}
				$('#biz-count-1').html(count);
			}
			$("#filter-region-button").html('Apply');
		});

		// Reset Filters
		$("#reset-filters").click(function(event){
			event.preventDefault();
			$("#region-input").val(" ");
			$("#reviewNumberRadio2").prop("checked", true);
			$(".biz-card").hide();
			var biz_num = parseInt($("#total-cards-id").val());
			if (biz_num >= 16){
				$('#biz-count-1').html(16);
				for (var i = 16; i >= 0; i--) {
					var card_id = "#biz-" + String(i);
					$(card_id).show();
				}
			}else{
				$('#biz-count-1').html(biz_num);
				for (var i = biz_num; i >= 0; i--) {
					var card_id = "#biz-" + String(i);
					$(card_id).show();
				}
			}
		})

		// Load default settings
		$(function(){
			// current value
			var number = parseInt($("input[name=reviewNumberRadio]").val());
			if (number > 0){
				var biz_num = parseInt($("#total-cards-id").val());
				if (biz_num >= number){
					$('#biz-count-1').html(number);
					for (var i = number; i >= 0; i--) {
						var card_id = "#biz-" + String(i);
						$(card_id).show();
					}
				}else{
					$('#biz-count-1').html(biz_num);
					for (var i = biz_num; i >= 0; i--) {
						var card_id = "#biz-" + String(i);
						$(card_id).show();
					}
				}
			} else {
				$(".biz-card").show();
			}
			// region 
			$("#region-input").val(" ");
		});
		
	</script>
{% endblock %}