{% extends "reviews/base.html" %}

{% load static %}

{% block title %} Edit Review - {{review.title}} {% endblock %}
        
{% block content %} 
	<main class="main-index">
		<!-- Title Section -->
		<div class="b-example-divider"> </div>
		<div class="container-fluid card pt-5">
			<div class="card-body">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-6 col-md-8 col-sm-12">
							<div class="row justify-content-center">
								<div class="col-3">
									<img src="{{review.business.image.url}}" class="img-thumbnail" alt="{{review.business.name}} Business Image">
								</div>
								<div class="col">
									<h4>{{review.business.name}}</h4>
									<p class="text-muted">{{review.business.website_name}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Title Section End -->
		<!-- Review Section -->
		<div class="b-example-divider"> </div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 col-md-8 col-sm-10 card">
					<div class="row card-body">
						<div class="row">
							<label class="pt-3"><strong>Rate your Recent Experience</strong><label>
						</div>
					{% if review.rating == 0 %}
						<div class="d-flex pt-3">
	                        <i id="rate-star_1" class="far fa-star fa-3x text-muted rate-star"></i>
	                        <i id="rate-star_2" class="far fa-star fa-3x text-muted rate-star"></i>
	                        <i id="rate-star_3" class="far fa-star fa-3x text-muted rate-star"></i>
	                        <i id="rate-star_4" class="far fa-star fa-3x text-muted rate-star"></i>
	                        <i id="rate-star_5" class="far fa-star fa-3x text-muted rate-star"></i>
	                    </div>
	                    <input id="rate-input-id" type="hidden" name="rate" value="0">
	                {% elif review.rating == 1 %}
	                	<div class="d-flex pt-3">
	                        <i id="rate-star_1" class="fas fa-star fa-3x text-danger rate-star"></i>
	                        <i id="rate-star_2" class="far fa-star fa-3x text-muted rate-star"></i>
	                        <i id="rate-star_3" class="far fa-star fa-3x text-muted rate-star"></i>
	                        <i id="rate-star_4" class="far fa-star fa-3x text-muted rate-star"></i>
	                        <i id="rate-star_5" class="far fa-star fa-3x text-muted rate-star"></i>
	                    </div>
	                    <input id="rate-input-id" type="hidden" name="rate" value="1">
	                {% elif review.rating == 2 %}
	                	<div class="d-flex pt-3">
	                        <i id="rate-star_1" class="fas fa-star fa-3x text-danger text-opacity-75 rate-star"></i>
	                        <i id="rate-star_2" class="fas fa-star fa-3x text-danger text-opacity-75 rate-star"></i>
	                        <i id="rate-star_3" class="far fa-star fa-3x text-muted rate-star"></i>
	                        <i id="rate-star_4" class="far fa-star fa-3x text-muted rate-star"></i>
	                        <i id="rate-star_5" class="far fa-star fa-3x text-muted rate-star"></i>
	                    </div>
	                    <input id="rate-input-id" type="hidden" name="rate" value="2">
	                {% elif review.rating == 3 %}
	                	<div class="d-flex pt-3">
	                        <i id="rate-star_1" class="fas fa-star fa-3x text-success text-opacity-50 rate-star"></i>
	                        <i id="rate-star_2" class="fas fa-star fa-3x text-success text-opacity-50 rate-star"></i>
	                        <i id="rate-star_3" class="fas fa-star fa-3x text-success text-opacity-50 rate-star"></i>
	                        <i id="rate-star_4" class="far fa-star fa-3x text-muted rate-star"></i>
	                        <i id="rate-star_5" class="far fa-star fa-3x text-muted rate-star"></i>
	                    </div>
	                    <input id="rate-input-id" type="hidden" name="rate" value="3">
	                {% elif review.rating == 4 %}
	                	<div class="d-flex pt-3">
	                        <i id="rate-star_1" class="fas fa-star fa-3x text-success text-opacity-75 rate-star"></i>
	                        <i id="rate-star_2" class="fas fa-star fa-3x text-success text-opacity-75 rate-star"></i>
	                        <i id="rate-star_3" class="fas fa-star fa-3x text-success text-opacity-75 rate-star"></i>
	                        <i id="rate-star_4" class="fas fa-star fa-3x text-success text-opacity-75 rate-star"></i>
	                        <i id="rate-star_5" class="far fa-star fa-3x text-muted rate-star"></i>
	                    </div>
	                    <input id="rate-input-id" type="hidden" name="rate" value="4">
	                {% elif review.rating == 5 %}
	                	<div class="d-flex pt-3">
	                        <i id="rate-star_1" class="fas fa-star fa-3x text-success rate-star"></i>
	                        <i id="rate-star_2" class="fas fa-star fa-3x text-success rate-star"></i>
	                        <i id="rate-star_3" class="fas fa-star fa-3x text-success rate-star"></i>
	                        <i id="rate-star_4" class="fas fa-star fa-3x text-success rate-star"></i>
	                        <i id="rate-star_5" class="fas fa-star fa-3x text-success rate-star"></i>
	                    </div>
	                    <input id="rate-input-id" type="hidden" name="rate" value="5">
                    {% else %}
                    	<div class="d-flex pt-3">
	                        <i id="rate-star_1" class="far fa-star fa-3x text-muted rate-star"></i>
	                        <i id="rate-star_2" class="far fa-star fa-3x text-muted rate-star"></i>
	                        <i id="rate-star_3" class="far fa-star fa-3x text-muted rate-star"></i>
	                        <i id="rate-star_4" class="far fa-star fa-3x text-muted rate-star"></i>
	                        <i id="rate-star_5" class="far fa-star fa-3x text-muted rate-star"></i>
	                    </div>
	                    <input id="rate-input-id" type="hidden" name="rate" value="0">
                    {% endif %}
                    	<input type="hidden" id="review-id" name="id" value="{{review.id}}">
	                    <div class="mb-3 pt-3">
						  	<label for="experience-textarea-id" class="form-label"><strong>Tell us about your Experience</strong></label>
						  	<textarea class="form-control" id="experience-textarea-id" rows="5" maxlength="1000">{{review.review}}</textarea>
						</div>

						<div class="mb-3 pt-3">
						  	<label for="title-input-id" class="form-label"><strong>Give your review a title</strong></label>
						  	<input type="text" class="form-control" id="title-input-id" name="title" placeholder="Write the Title of your Review Here." value="{{review.title}}"  minlength="3" maxlength="50">
						</div>
						<div class="mb-3 pt-3" id="button-div-id" style="display: none;">
						  	<a href="{% url 'edit-review' review.title|slugify review.id %}" id="review-button-id" class="btn btn-outline-primary"> UPDATE REVIEW </a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<!-- /Review Section End -->
		<div class="b-example-divider"> </div>
	</main>
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		//Hover rate-star_1
		$("#rate-star_1").hover(function(){
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();
			$("#rate-star_1").addClass("fas fa-star fa-3x text-danger");	
			$("#rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").addClass("far fa-star fa-3x text-muted rate-star");  	
		}, function(){
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();	
		  	$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").addClass("far fa-star fa-3x text-muted rate-star");
		});
		// Click rate-star_1
		$("#rate-star_1").click(function(event){
			event.preventDefault();
			$(this).off('mouseenter mouseleave');
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();
			$("#rate-star_1").addClass("fas fa-star fa-3x text-danger");
			$("#rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").addClass("far fa-star fa-3x text-muted rate-star");	
			// Update rate input
			$("#rate-input-id").val(1);
		});

		// Hover rate-star_2
		$("#rate-star_2").hover(function(){
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();
			$("#rate-star_1, #rate-star_2").addClass("fas fa-star fa-3x text-danger text-opacity-75");
			$("#rate-star_3, #rate-star_4, #rate-star_5").addClass("far fa-star fa-3x text-muted rate-star");	  	
		}, function(){
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();
		  	$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").addClass("far fa-star fa-3x text-muted rate-star");
		});
		// Click rate-star_2
		$("#rate-star_2").click(function(event){
			event.preventDefault();
			$(this).off('mouseenter mouseleave');
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();
			$("#rate-star_1, #rate-star_2").addClass("fas fa-star fa-3x text-danger text-opacity-75");
			$("#rate-star_3, #rate-star_4, #rate-star_5").addClass("far fa-star fa-3x text-muted rate-star");	
			// Update rate input
			$("#rate-input-id").val(2);
		});

		// Hover rate-star_3
		$("#rate-star_3").hover(function(){
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();
			$("#rate-star_1, #rate-star_2, #rate-star_3").addClass("fas fa-star fa-3x text-success text-opacity-50");	
			$("#rate-star_4, #rate-star_5").addClass("far fa-star fa-3x text-muted rate-star");  	
		}, function(){
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();
		  	$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").addClass("far fa-star fa-3x text-muted rate-star");
		});
		// Click rate-star_3
		$("#rate-star_3").click(function(event){
			event.preventDefault();
			$(this).off('mouseenter mouseleave');
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();
			$("#rate-star_1, #rate-star_2, #rate-star_3").addClass("fas fa-star fa-3x text-success text-opacity-50");	
			$("#rate-star_4, #rate-star_5").addClass("far fa-star fa-3x text-muted rate-star"); 
			// Update rate input
			$("#rate-input-id").val(3);	
		});

		// Hover rate-star_4
		$("#rate-star_4").hover(function(){
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4").addClass("fas fa-star fa-3x text-success text-opacity-75");	
			$("#rate-star_5").addClass("far fa-star fa-3x text-muted rate-star");  	
		}, function(){
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();
		  	$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").addClass("far fa-star fa-3x text-muted rate-star");
		});
		// Click rate-star_4
		$("#rate-star_4").click(function(event){
			event.preventDefault();
			$(this).off('mouseenter mouseleave');
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4").addClass("fas fa-star fa-3x text-success text-opacity-75");	
			$("#rate-star_5").addClass("far fa-star fa-3x text-muted rate-star"); 
			// Update rate input
			$("#rate-input-id").val(4);
		});

		// Hover rate-star_5
		$("#rate-star_5").hover(function(){
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").addClass("fas fa-star fa-3x text-success");  	
		}, function(){
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass("fas fa-star fa-3x text-success");
		  	$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").addClass("far fa-star fa-3x text-muted rate-star");
		});
		// Click rate-star_5
		$("#rate-star_5").click(function(event){
			event.preventDefault();
			$(this).off('mouseenter mouseleave');
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").removeClass();
			$("#rate-star_1, #rate-star_2, #rate-star_3, #rate-star_4, #rate-star_5").addClass("fas fa-star fa-3x text-success");
			// Update rate input
			$("#rate-input-id").val(5);
		});

		//Check experience-textarea-id
		$("#experience-textarea-id").change(function(event){
			var review = $("#experience-textarea-id").val();
			//alert("Change is Inevitable");
			if (review.trim() == ''){
				$("#button-div-id").hide();
			} else{
				$("#button-div-id").show();
				var num = 45;
				if (review.length > num) {
				    $("#title-input-id").val(review.slice(0, num) + "...");
				} else {
				    $("#title-input-id").val(review);
				}
				
			}


		});

		//Submit Review
		$("#review-button-id").click(function(event){
			event.preventDefault();
			// Get data
			var rate = $("#rate-input-id").val();
			var review = $("#experience-textarea-id").val();
			var title = $("#title-input-id").val();
			var id = $("#review-id").val();
			if (rate == "0"){
				alert("Please Rate the Business before Submitting.");
			} else {
				// Add Spinner to Button
		   		var spinner = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>' +
		  			'Loading...';
				$("#review-button-id").html(spinner);
				// Disable button
				$("#review-button-id").addClass('disabled');
				$.ajax({
		   			url: $(this).attr('href'),
		   			type: 'GET',  // http method
		    		data: { 'rate': rate, 'review': review, 'title': title, 'id': id },
		   			success: function(response){
		   				console.log(response);
			            if(response['success']) {
			            	alert(response['success']);
			            	if(response['redirect']) {
			            		window.location.href = response['redirect'];
			            	}else{
			            		window.location.href = "../../../";
			            	}
			            }
			            if(response['error']) {
			            	$("#review-button-id").html("UPDATE REVIEW");
			            	$("#review-button-id").removeClass('disabled');
			            	alert(response['error']);

			            }
		   			},
			        error: function (request, status, error) {
			        	$("#review-button-id").html("UPDATE REVIEW");
			        	$("#review-button-id").removeClass('disabled');
			            console.log(request.responseText);
			        }
		   		});
			}

		});

		// Show button
		$(function() {
			var review = $("#experience-textarea-id").val();
			//alert("Change is Inevitable");
			if (review.trim() == ''){
				$("#button-div-id").hide();
			} else{
				$("#button-div-id").show();
				/**
				var num = 45;
				if (review.length > num) {
				    $("#title-input-id").val(review.slice(0, num) + "...");
				} else {
				    $("#title-input-id").val(review);
				}**/
				
			}
		});
		
	</script>
{% endblock %}
